.history{
  &-container{
    max-width: 1448px;
  }
  &-content{
    margin-top: 20px;
  }
  &-delete{
    text-align: right;
    height: 36px;
  }
  &-date{
    font-size: 18px;
    svg{
      margin-right: 15px;
      width: 16px;
      height: auto;
      vertical-align: -2px;
    }
  }
  &-box{
    margin: 13px 7px;
    border-left: 1px solid #000000;
    padding-left: 21px;
  }
  &-item{
    border-radius: 6px;
    padding: 5px 20px;
    margin-bottom: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      background: #F4F6F7;
    }
    :deep(.el-checkbox__input:not(.is-checked) .el-checkbox__inner){
      background: #fff;
      box-shadow: 0px 0px 0px 1px #012A2D33;
    }
  }
  &-text{
    font-size: 18px;
    color: #778E9C;
  }

}
